{
  "env": {
    "browser": true
  },
  "globals": {
    "$": false,
    "chrome": false
  },
  "rules": {
    "global-strict": [2, "always"],
    "strict": [2, "global"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
