{
  "verifyCondition": ["condition-circle"],
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run build"
      }
    ],
    [
      "semantic-release-chrome",
      {
        "path": "semantic-release-chrome",
        "asset": "ruler.zip",
        "distFolder": "dist",
        "extensionId": "cnpednncpilbojdmhpjhoakknbboanln"
      }
    ],
    [
      "semantic-release-firefox",
      {
        "addonsSlug": "browser-ruler",
        "distFolder": "dist",
        "manifestPath": "dist/manifest.json",
        "notesToReviewer": "GitHub repository: https://github.com/ianwremmel/browser-ruler/",
        "sourcesGlob": "src",
        "xpiPath": "ruler.xpi"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "ruler.xpi"
          },
          {
            "path": "ruler.zip"
          }
        ]
      }
    ]
  ]
}
