/* 7299d2d29ee0de87bd5e67ed9e6d7a0d is the md5() of 'ruler' for avoid collisions with already existing styles. */
.ruler-overlay-7299d2d29ee0de87bd5e67ed9e6d7a0d {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;

  background-color: rgba(0, 0, 0, 0.2);

  cursor: crosshair;
}

.ruler-rect-7299d2d29ee0de87bd5e67ed9e6d7a0d,
.ruler-label-7299d2d29ee0de87bd5e67ed9e6d7a0d {
  position: absolute;
  z-index: 10005;
}

.ruler-rect-7299d2d29ee0de87bd5e67ed9e6d7a0d {
  box-sizing: border-box;
  background-color: rgba(127, 127, 127, 0.5);
  border: 1px solid #000;
}

.ruler-label-7299d2d29ee0de87bd5e67ed9e6d7a0d {
  white-space: nowrap;
  color: #000;
}
