{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions"
        ]
      }
    }]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
